
.background-vid-div{
    overflow: hidden;
}

canvas {
  display: block;
}

#sojiro{
    position: absolute;
    bottom: 60px;
    left: -300px;
    width: 250px;
    opacity: 1;
    transform: scale(1.48);
    transition: left 0.6s ease;
}

#name {
    position: fixed;
    font-family: 'Arsenal', sans-serif;
    border-color: black;
    bottom: 119px;
    left: 375px;
    width: -400px;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: rgb(0, 0, 0);
    transform: rotate(-20deg);
}

.highlight{
    background-color: black;
    -webkit-text-stroke: 1px white !important;
    color: white !important;
}

#dialogue-box{
    position: absolute;
    bottom: 60px;
    left: -600px;
    width: 400px;
    opacity: 0.9;
    transition: left 0.3s ease;
}

#sojiro.slide-in {left: 400px;}
#name.slide-in {left: 555px;}
#dialogue-box.slide-in {left: 500px;}

#dialogue{
    position: fixed;
    font-family: 'Arsenal', sans-serif;
    bottom: 82px;
    left: 425px;
    width: 400px;
    text-align: center;
    color: rgb(255, 255, 255);
    transform: rotate(-2deg);
}

#name.fade-out { opacity: 0; transition: opacity 0.6s ease; }
#sojiro.fade-out { opacity: 0; transition: opacity 0.6s ease 0.6s; }
#dialogue-box.fade-out { opacity: 0; transition: opacity 0.6s ease; }
#dialogue.fade-out { opacity: 0; transition: opacity 0.6s ease; }


#calender-container{
    position: fixed;
    top: 20px;
    right: 20px;
}
    
#calender-container canvas{
    width: 10px !important; 
    height: auto !important;
}

.background-video{
    position: fixed;
    transform: scale(1.05);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    z-index: -1;
}